<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phongson">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TrangChuActivity"
            android:label="" />
        <activity
            android:name=".activity.DangKyMHActivity"
            android:label="" />
        <activity
            android:name=".activity.ListSinhVienActivity"
            android:label="" />
        <activity android:name=".activity.ChiTietMonHocActivity" />
        <activity
            android:name=".activity.ChiTietDKMHActivity"
            android:label="" />
        <activity android:name=".activity.Google_map" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/KeyMap_Api" />

        <activity android:name=".activity.ChiTietMHDKActivity" />
        <activity android:name=".activity.BangDiemActivity" />
        <activity android:name=".activity.LienHeActivity"></activity>
    </application>

</manifest>